<template name="stripe">

  <div class="container-fluid">
    
    <div class="row">
      
      <div class="col-sm-6">
        <div class="panel panel-default">

          <div class="panel-body">
            {{#autoForm collection="ReactionCore.Collections.Packages" schema="ReactionCore.Schemas.StripePackageConfig" doc=packageData type="update" id="stripe-update-form"}}
              <div class="form-group">
                Don't have a Stripe API key? <a href="https://dashboard.stripe.com/account/apikeys" target="_blank">Get it here.</a> (Need to sign in)
              </div>
              {{>afQuickField name='settings.api_key'}}
              <button type="submit" class="btn btn-primary pull-right">Update</button>
            {{/autoForm}}
          </div>

        </div>


      </div>

    </div>

  </div>

</template>
